<!DOCTYPE html>
<html lang="">
<head>

  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="theme-color" content="#00bcd4">
  <!-- end favicon -->

  <link rel="stylesheet" href="/assets/card-stack.css" media="screen" title="no title" charset="utf-8">

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

</head>

<body>

  <app>

  </app>

  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
